/* colors: https://tailwindcss.com/docs/customizing-colors */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grid-bgc: #d1d5db;
  --main-bgc: #0f172a;
  --hit-empty-bgc: #86efac;
  --hit-ship-bgc: #fda4af;
  --ship-bgc: #e0e7ff;
}

html {
  height: 100%;
}

body {
  background-color: var(--main-bgc);
  color: var(--grid-bgc);
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-flow: column;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 6px;
}

.cell {
  width: 3.5vw;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--grid-bgc);
  transition: all 0.1s ease-in-out;
}

.cell:hover {
  transform: scale(1.1);
}

.ship {
  background-color: var(--ship-bgc);
}

.hitShip {
  background-color: var(--hit-ship-bgc);
}

.hitEmpty {
  background-color: var(--hit-empty-bgc);
}
