/* colors: https://tailwindcss.com/docs/customizing-colors */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grid-bgc: #d1d5db;
  --main-bgc: #0f172a;
  --hit-empty-bgc: #86efac;
  --hit-ship-bgc: #fda4af;
  --ship-bgc: #e0e7ff;
}

html {
  height: 100%;
}

body {
  background-color: var(--main-bgc);
  color: var(--grid-bgc);
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-flow: column;
  position: relative;
  height: 100%;
}

header {
  display: flex;
  flex-flow: column;
  margin: 5%;
}

main {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: space-evenly;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 6px;
}

.cell {
  width: 3.5vw;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--grid-bgc);
  transition: all 0.1s ease-in-out;
}

.cell:hover {
  transform: scale(1.1);
}

.ship {
  background-color: var(--ship-bgc);
}

.hitShip {
  background-color: var(--hit-ship-bgc);
}

.hitEmpty {
  background-color: var(--hit-empty-bgc);
}

.line {
  background-color: var(--grid-bgc);
  width: 9em;
  height: 3px;
}

.end-msg {
  position: absolute;
  font-size: 24px;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  main {
    flex-direction: column;
  }

  .end-msg {
    font-size: 20px;
    top: 11%;
  }

  .cell {
    width: 3vh;
  }
}
